/* USE CSS LAYOUTS HERE */
.flex{
    
    display: flex;
    min-height: 100vh;
    text-align: center;
    flex-direction: column;
     
}
.flex1{
    background-color: red;
    flex: 5;
}
.flex2{
    background-color: seagreen;
    flex: 3;
}
.flex3{
    background-color: sienna;
    flex: 2;
}
